@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

#nav {
  position:fixed;
   top:0;
   left:0;
   width:100%;
   float: left;
   color: black;
     z-index: 9;
}

#header {
  margin-top: 25px;
  height: 350px;
  width: 100%;
  background-size: 100%;
  background-image: url('pic.png');
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#center {
  text-align: center;
}

#about {
  text-align: center;
}

#header {
  font-family: 'Patrick Hand', cursive;
}

#text {
    position: absolute;
    left: 16%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-0%, -50%);
}

#img1 {
  float: left;
  margin-left: 15%;
  margin-top: 50px;
}

#invite {
  position: absolute;
  left: 22.9%;
  top: 63%;
  -webkit-transform: translate(-50%, -70%);
  transform: translate(-50%, -50%);
  margin-top: 50px;
}

title {
	color: #fff;
	font-size: 5rem;
	font-weight: 300;
	line-height: 1.125;
}

body {
	color: white;
	margin-bottom: 100px;
background-color: #710000;
}

html {
	background-color: #710000;
}


@media (max-width: 767px) {
  .nav .nav-item {
	  display: none;
	}
}
