@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

.navbar {
  min-height: 33px !important;
  margin-bottom: 0;
  border-radius: 0px;
}

.navbar-nav > li > a, .navbar-brand {
  padding-top: 6px !important;
  padding-bottom: 0px;
  height: 33px;
}

.navbar-default {
  background-color: #e74c3c;
  border-color: #c0392b;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

#header {
  margin-top: 25px;
  height: 350px;
  width: 100%;
  background-size: 100%;
  background-image: url('pic.png');
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#center {
  text-align: center;
}

#about {
  text-align: center;
}

#header {
  font-family: 'Patrick Hand', cursive;
}

#text {
    position: absolute;
    left: 16%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-0%, -50%);
}

#img1 {
  float: left;
  margin-left: 15%;
  margin-top: 50px;
}

#invite {
  position: absolute;
  left: 22.9%;
  top: 63%;
  -webkit-transform: translate(-50%, -70%);
  transform: translate(-50%, -50%);
  margin-top: 50px;
}

title {
	color: #fff;
	font-size: 5rem;
	font-weight: 300;
	line-height: 1.125;
}

body {
	color: white;
	margin-bottom: 100px;
background-color: #710000;	
}

html {
	background-color: #710000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}
